<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Local Library</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
      aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <li class='nav-item active'>
              <a class='nav-link' href="{% url 'book:index' %}">Home
                  <span class='sr-only'>(current)</span>
              </a>
              
          </li>
          <li class="nav-item dropdown">
             <a class='nav-link dropdown-toggle' href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" 
                 aria-expanded="false">
                 Sections
             </a>
             <div class='dropdown-menu' aria-labelledby='navbarDropdown'>
                 <a class='dropdown-item' href="{% url 'book:BookList' %}">All books</a>
                 <a class='dropdown-item' href="#">All authors</a>
             </div>
          </li>
      </ul>
      
      {% if user.is_authenticated %}
          <!-- Logout form -->
          <form action="{% url 'book:logged-out' %}" method="post" class="form-inline my-2 my-lg-0">
              {% csrf_token %}
              <button type="submit" class="btn btn-outline-info my-2 my-sm-0" style="margin-right: 8px;">Sign Out</button>
          </form>
      {% else %}
          <a href="{% url 'login' %}"><button class="btn btn-info" style="margin-right: 8px;">Sign In</button></a>
          <a href="#"><button class="btn btn-outline-info">Sign Up</button></a>
      {% endif %}
  </div>
</nav>


              
                   

